<h1>List of Books in our Database:</h1>

{{#each books}}
    <section class="book-summary">
        <h2>{{this.title}}</h2>
        <a href="/books/{{this.id}}">More details</a>
    </section>
{{/each}}
