body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0026ff;
}

h1 {
  color: 15px;
}

.book-summary {
  background-color: #eee;
  border: 1px solid #666;
  margin: 1rem;
  padding: 1rem;
}